body {
    margin: 0;
    background-image:url("list1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
}
 /* Style the header */
 .header {
    background-color: #eb68a3; 
   
    padding: 30px 40px;
    color: rgb(181, 23, 99);
    text-align: center;
  }
  /* Clear floats after the header */
  .header:after {
    content: "";
    display: table;
    clear: both;
  }
   
  /* Style the input */
  input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
  }
  
  /* Style the "Add" button */
  .button {
    padding: 10px;
    width: 25%;
    background:#12dbce;
    color: #09aca4;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
  }
  
  .button:hover {
    background-color: #bbb;
  }
  ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #1486af;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }
   /* Darker background-color on hover */
   ul li:hover {
    background: #d6a2c6;
  }
  
  /* When clicked on, add a background color and strike out text */
  ul li.checked {
    background: #cd73b1;
    color: #27191f;
    text-decoration: line-through;
  }
  ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
  }

 * {
    box-sizing: border-box;
  }

